In [1]:
l=["apple", 'banana', 'mango']
l*3

['apple',
 'banana',
 'mango',
 'apple',
 'banana',
 'mango',
 'apple',
 'banana',
 'mango']

In [2]:
l2=[1,3,4,5]

l*2+l2

['apple', 'banana', 'mango', 'apple', 'banana', 'mango', 1, 3, 4, 5]

In [3]:
d={'apple': 30, 'mango': 500, 'banana': 40}
type(d)

dict

In [6]:
d.keys()

dict_keys(['apple', 'mango', 'banana'])

In [9]:
d['orenge']=400
d

{'apple': 30, 'mango': 500, 'banana': 40, 'orenge': 400}

In [11]:
d['apple']=600
d

{'apple': 600, 'mango': 500, 'banana': 40, 'orenge': 400}

In [12]:
d1={'guava': 400, 'dargan':1233}
d1

{'guava': 400, 'dargan': 1233}

In [13]:
d.update(d1)

In [14]:
d

{'apple': 600,
 'mango': 500,
 'banana': 40,
 'orenge': 400,
 'guava': 400,
 'dargan': 1233}

In [15]:
d.pop('dargan')

1233

In [16]:
d

{'apple': 600, 'mango': 500, 'banana': 40, 'orenge': 400, 'guava': 400}

In [30]:
s={1,2,3,'sparta'}
s

{1, 2, 3, 'sparta'}

In [31]:
s={1,2,3,4,6,'sparta',4.56}
s

{1, 2, 3, 4, 4.56, 6, 'sparta'}

In [32]:
s

{1, 2, 3, 4, 4.56, 6, 'sparta'}

In [36]:
s.add('hello')
s

{1, 2, 3, 4, 4.56, 6, 'hello', 'sparta'}

In [37]:
s

{1, 2, 3, 4, 4.56, 6, 'hello', 'sparta'}

In [38]:
s.update(['hii',2345,True])
s

{1, 2, 2345, 3, 4, 4.56, 6, 'hello', 'hii', 'sparta'}

In [39]:
s.remove(2)

In [40]:
s

{1, 2345, 3, 4, 4.56, 6, 'hello', 'hii', 'sparta'}

In [53]:
s1={1,4,3,'hello', 'sparta',67,8765,345}
s1

{1, 3, 345, 4, 67, 8765, 'hello', 'sparta'}

In [54]:
s

{1, 2345, 3, 4, 4.56, 6, 'hello', 'hii', 'sparta'}

In [55]:
s.intersection(s1)

{1, 3, 4, 'hello', 'sparta'}

In [56]:
a=10
s=30

In [58]:
if a<s:
    print('S is greater than A')

S is greater than A

In [59]:
if a<s:
    print("A is small than S")

A is small than S

In [61]:
if a>s:
    print("a is greater than s")

In [62]:
if a>s:
    print("a is greater than s")

else:
    print("s is greter than a")

s is greter than a

In [63]:
a=1100
b=2000
c=3000

if (a>b)&(a>c):
    print("A is the Gretest")

elif (b>a) & (b>c):
    print("B is the Gretest")

else:
    print("C is the Greter")

C is the Greter

In [67]:
tup1=('a','b','hello')
if "a" in tup1:
    print("value a is avelebal in tup1")

else:
    print ("values Z is not avelebal in tup1")

value a is avelebal in tup1